<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="links">
  <a href="http://localhost:3000/">Strona Główna</a>
  <div class="spamer"></div>
  <a href="http://localhost:3000/kontakt">Kontakt</a>
  <div class="spamer"></div>
  <a href="http://localhost:3000/o-nas">O Nas</a>
  <div class="spamer"></div>
  <a href="http://localhost:3000/oferta">Oferta</a>
</div>
<h1>O firmie</h1>
<p>W cieniu wysokich, surowych murów więzienia, w którym światło dzienne zdaje się nigdy nie docierać, rozciąga się przerażająca rzeczywistość bezlitosnego miejsca, będącego symbolem nieludzkiego traktowania. Każdy korytarz zdobią zardzewiałe kraty, zimne i wilgotne od lat zaniedbań, a smród pleśni miesza się z wonią krwi i potu więźniów, którzy w samotnych celach dniami i nocami nie zaznają wytchnienia. Cała atmosfera tego miejsca jest przeniknięta ciszą tak gęstą, że można ją niemal dotknąć, przerywaną jedynie przez jęki i ciche krzyki, które odbijają się od betonowych ścian, świadcząc o koszmarze rozgrywającym się w cieniu tych murów.</p>
<p>Przemoc jest w tym miejscu nieodłącznym elementem dnia codziennego – bezlitosne kary fizyczne, bicie i tortury, są stosowane niemalże rutynowo. Strażnicy, bez śladu litości w oczach, używają batów i pałek, nie tylko po to, by podporządkować więźniów, lecz także by utrzymać swoje własne poczucie władzy. Każdy najmniejszy akt buntu lub nawet zbytnie słowo jest surowo karane, często poprzez zamknięcie więźnia w "ciemnej izbie" – małej, ciasnej celi, gdzie nie ma ani światła, ani powietrza. Wielu z więźniów spędza tam długie dni, pozbawieni jedzenia i wody, w kompletnej ciemności, zmuszani do walki z własnym umysłem, który pod wpływem izolacji zaczyna igrać z ich zmysłami.</p>
<p>Cele więźniów przypominają bardziej klatki niż miejsca, w których człowiek mógłby przetrwać. Każda cela jest zimna i wilgotna, z betonowymi podłogami i cienkim kocem, który nie daje żadnego ciepła. Więźniowie zmuszani są do snu na gołym betonie, otoczeni szczurami, które swobodnie przemieszczają się po całym obiekcie, nie przejmując się ani strażnikami, ani ludźmi, z którymi współdzielą przestrzeń. Miejscami widać zacieki, pozostałości po deszczach, które przeciekają przez stare, popękane mury, sprawiając, że wnętrze więzienia staje się wilgotne, a zapach pleśni wypełnia powietrze.</p>
<p>Jedzenie, które jest podawane więźniom, bardziej przypomina paszę niż coś, co mogłoby być nazwane pożywieniem. Wodniste zupy, spleśniały chleb i resztki, które trudno rozpoznać, podaje się w metalowych miskach, często pokrytych rdzą. Więźniowie, pomimo głodu, często zmuszeni są walczyć z odruchem wymiotnym, a jedzenie staje się dodatkowym elementem upokorzenia i cierpienia. Głód i niedożywienie są tutaj normą, a wielu z więźniów stopniowo traci siły, wychudzeni do granic możliwości, ich ciała przybierają formę widocznych kości pokrytych cienką warstwą skóry.</p>
<p>Najgorsza w tym wszystkim jest jednak psychiczna tortura, jakiej są poddawani więźniowie. Zmuszani do całkowitego odosobnienia, często nie mają możliwości rozmawiania nawet ze sobą nawzajem, a listy i kontakty ze światem zewnętrznym są absolutnie zakazane. Codziennie budzą się w przekonaniu, że nikt o nich nie pamięta, że nikt nie usłyszy ich krzyku, że ich los jest z góry przesądzony. Ich umysły stają się cieniem, a rozpacz przeplata się z nadzieją, która jednak stopniowo wygasa, wypierana przez całkowite otępienie. W miejscu, gdzie człowieczeństwo ginie w mroku, więźniowie stają się tylko numerami, a ich jedynym wyjściem jest często całkowite pogodzenie się z nadchodzącym końcem.</p>
<div class="links">
  <img src="/zdjecie1.webp" alt="zdjecie">
  <img src="/zdjecie2.jpg" alt="zdjecie">
  <img src="/zdjecie3.jfif" alt="zdjecie">
</div>
</body>
</html>